.Header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../../assets/banner.png") no-repeat center;
  background-size: cover;
  height: 100%;
  // width: 100vw;

  // .first-block {
  //   padding: 5rem 1rem;
  //   margin: auto;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
}
.p {
  width: 23rem;
}
.b {
  border-radius: 0 10px 10px 0;
  padding: 0.5rem 1rem;
}

@media (max-width: 600px) {
  .Header {
    .p-10 {
      padding: 2%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .Header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../../assets/banner.png") no-repeat top center;
    background-size: cover;
  }
}
